# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store

#bazel output folders
bazel-bazel-mvn-deps
bazel-mabel
bazel-android
bazel-plain_java
bazel-java_plugin
bazel-kotlin
bazel-kotlin_with_kt_rules
bazel-genfiles
bazel-out
bazel-testlogs
bazel-bin

#idea
.ijwb
.aswb