name: Release
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Prepare Release
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          {
            echo "RELEASE_BODY<<EOF"
            echo "## Usage"
            echo ""
            echo "Add the following to your \`MODULE.bazel\`:"
            echo "\`\`\`starlark"
            cat examples/plain_java/MODULE.bazel | \
            sed '/module(/d' | \
            sed '/local_path_override(/,/)/d' | \
            sed "s/version = \"0.0.0\"/version = \"$VERSION\"/" | \
            cat -s
            echo "\`\`\`"
            echo "EOF"
          } >> "$GITHUB_ENV"
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body: ${{ env.RELEASE_BODY }}
          generate_release_notes: true
